body{
    background-color: black;
}

main{
    margin: 150px;    
    width: 900px;
    height: 500px;
    font-family: sans-serif;
    font-size: 15px;
    background-image: url('images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
    color: white;
}

.left{
    float: left;
    margin-top: 150px;
    margin-left: 100px;
}

.right{
    float: right;
    margin-top: 50px;
    margin-right: 100px;

}

.try{
    border: 1px;
    border-radius: 5px;
    background-color: hsl(248, 32%, 49%);
    padding: 14px;
    font-size: 10px;

}

.form{
    background-color: #f3f3f3;
    color: blueviolet;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;

}
#input{
    align-content: left;
    padding:10px 65px;
    border: 1px;
    border-radius: 5px;
}
#trial{
    padding:10px 57px;
    border: 1px;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
    color: #f3f3f3;

}

#h6{
    font-size: 7px;
    color: grey;
}

