body{
    background-color: rgb(250, 243, 243);
}

main{
    display: grid;
    grid-template-areas: 'a a a b b'
                         'a a a b b'
                         'c c d d d'
                         'c c e e e'
                         ;
gap: 10px;
margin: 20px;
margin-right: 30px;
width: 80vh;
height: 70vh;
}

main div{
    padding: 3em;
}

.grid1{
    background-color: orangered;
    grid-area: a;
}

.grid2{
    background-color: rgb(237, 146, 18);
    grid-area: b;
}

.grid3{
    background-color: rgb(6, 190, 24);
    grid-area: c;

}

.grid4{
    background-color: rgb(26, 166, 241);
    grid-area: d;

}

.grid5{
    background-color: rgb(26, 166, 241);
    grid-area: e;
}
