body{
    width: 1440px;
    font-family: 'open sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
}
.top{
    background-image: url(./images/bg-hero-desktop.svg);
    background-color: rgb(225, 241, 247);
}

